.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
}

.withMargin {
  margin-right: 16px;
}

input[type="checkbox"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.custom-checkbox + label {
  display: inline-flex;
  -webkit-user-select: none;
  user-select: none;
}

.emptyLabel + label {
  margin-top: -4px;
}

.custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  border: 1px solid #d9dbdd;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label:before {
  border-color: #0094ff;
  background-color: #e0f2ff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%230065F9' d='M9 1.25L3.5 6.75L1 4.25' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #030916;
  text-align: left;
  height: 18px;
}

input[type="checkbox"]:focus + label:before {
  outline: #5d9dd5 solid 1px;
  box-shadow: 0 0 8px #5e9ed6;
}

input[type="checkbox"]:disabled + label {
  color: #575757;
}

input[type="checkbox"]:disabled + label:before {
  background: #ddd;
}

.container {
  display: flex;
  align-items: center;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  border: 1px solid #d9dbdd;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label:before {
  border-color: #0094ff;
  background-color: #e0f2ff;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' version='1' viewBox='0 0 200 200' %3E%3Cpath d='M320 1000V880h1360v240H320v-120z' transform='matrix(.1 0 0 -.1 0 200)' %3E%3C/path%3E%3C/svg%3E");
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #030916;
}

.image-container {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 8px;
  color: #2d2d2d;
  height: 245px;
  background: #ffffff;
  border: 1px dashed #d9dbdd;
  border-radius: 12px;
  transition: 0.5s;
  z-index: 4;
}

.image-container.disabled {
  cursor: auto;
}

.image-container:hover {
  background: #e7e7e7;
  opacity: 0.3;
}

.image-container.disabled:hover {
  background: #ffffff;
  opacity: 1;
}

.upload-placeholder {
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.centered-image {
  max-width: 813px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 43%;
  transform: translateY(-50%);
  padding: 0px 20px;
}
@media screen and (max-width: 992px) {
}

p {
  font-size: 16px;
  line-height: 28px;
  word-break: break-word;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #030916;
  margin-bottom: 4px;
}

input > span.text {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 20px;
}

input > span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0094ff;
}

.input-state {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.lds-dual-ring {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #e4e6e7;
  border-color: #e4e6e7 transparent #e4e6e7 transparent;
  animation: svelte-1xnbu4k-lds-dual-ring 1.2s linear infinite;
}

@keyframes svelte-1xnbu4k-lds-dual-ring {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-text.disable:hover {
  border: 1px solid #d9dbdd;
  outline: none;
}

.input-text.disable:focus-within {
  border: 1px solid #d9dbdd;
  outline: none;
}

.input-text {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 48px;
  font-size: 16px;
  border: 1px solid #e4e6e7;
  background: #ffffff;
  border: 1px solid #d9dbdd;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
  transition: 75ms;
  margin: 0 auto 16px;
  width: auto;
  cursor: text;
  flex: 9;
}

.input-text.search {
  padding-left: 28px;
}

.cross {
  cursor: pointer;
  z-index: 100;
  margin-right: 15px;
}

::placeholder {
  color: #a9acb2;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #a9acb2;
}

::-ms-input-placeholder {
  color: #a9acb2;
}

.input-text.valid-input {
  border-color: #25cb42;
}

.input-text.error-input {
  border-color: #ea4335;
  box-shadow: 0 2px 6px #ea433529;
}

.error-meesage {
  color: #ea4335;
  font-size: 12px;
  padding: 0;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 10px;
}

.error-meesage a {
  color: #0094ff !important;
}

.input-text:hover {
  border-color: #0094ff;
}

.input-text:focus-within {
  border-color: #0094ff;
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px #ebf7ff;
}

.input-text_input {
  background: none !important;
  border: none;
  outline: none;
  width: 100%;
  font-size: inherit;
  color: #030916;
  padding: 0 1em;
  vertical-align: middle;
  caret-color: #0094ff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input-text_label {
  position: absolute;
  left: 17px;
  font-size: 12.5px;
  color: #000000b3;
  transition: 75ms;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

i + .input-text_input {
  padding-left: 0;
}

i img {
  height: 1.2em;
  margin-left: 15px;
  margin-right: 8px;
  vertical-align: middle;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  font-size: 18px;
}

.no-border .input-text {
  border: none !important;
}

.no-margin .input-text {
  margin: 0 !important;
}

.no-padding .input-text_input {
  padding: 0 !important;
}

label.required:has(input:focus:invalid),
label:has(.invalid) {
  border-color: #ea4335;
}

label.required:has(input:focus:valid) {
  border-color: #e4e6e7;
}

.search-icon {
  position: absolute;
  left: 4px;
  padding: 0 10px;
  top: 4px;
  bottom: 4px;
  z-index: 1;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .input-text {
    flex: unset;
    width: 100%;
  }
}

.base-text-m {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.error-text {
  color: #f04738 !important;
  transform: translateY(-7px);
}

label.state-error {
  position: relative;
}

label.state-error:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.953 2C6.465 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.493 2 11.953 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.567 4 11.953 4C16.391 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z' fill='%23F04738'/%3E%3Cpath d='M11 7H13V14H11V7ZM11 15H13V17H11V15Z' fill='%23F04738'/%3E%3C/svg%3E%0A");
}

label.state-error {
  border-color: #f04738;
}

label.state-error input {
  box-shadow: unset;
}

.password-input-wrapper {
  position: relative;
}

.password-visibility {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  padding: 0 12px;
  border-radius: 8px;
  background: unset;
  border: unset;
  outline: none !important;
  cursor: pointer;
  background: var(--white);
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.password-visibility svg {
  vertical-align: middle;
}

.input-password_input:not(:placeholder-shown) + .input-password_label {
  font-size: 10px;
  transform: translateY(-12px);
}

.input-password_show svg {
  touch-action: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2d3239;
  white-space: nowrap;
}

/* [type=radio]:checked+label:before,
[type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid #d9dbdd;
    background: #fff
}

[type=radio]:checked+label:after,
[type=radio]:not(:checked)+label:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #0094ff;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

[type=radio]:checked+label:before {
    background: #e6f4ff;
    border: 1px solid #0094ff
}

[type=radio]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0)
}

[type=radio]:checked+label:after {
    opacity: 1;
    transform: scale(1)
} */

@media screen and (min-width: 768px) {
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    font-size: 16px;
    line-height: 24px;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    width: 20px;
    height: 20px;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    width: 8px;
    height: 8px;
    top: 7px;
    left: 7px;
  }
}

@media screen and (min-width: 1024px) {
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    font-size: 14px;
    line-height: 20px;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    width: 16px;
    height: 16px;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    width: 6px;
    height: 6px;
    top: 6px;
    left: 6px;
  }
}

form {
  margin-bottom: 5px;
}

.radius {
  width: auto;
  height: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#output {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #696e76;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #030916;
  margin-right: 10px;
}

h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #030916;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 20px;
  background-size: 0 100%;
  background: #eeeeee linear-gradient(#0094ff, #0094ff) no-repeat;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: #0094ff;
  box-shadow: 0 0 6px #0003;
  transition: background 0.3s ease-in-out;
}

.range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: #0094ff;
  box-shadow: 0 0 6px #0003;
  transition: background 0.3s ease-in-out;
}

.range::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  box-shadow: 0 0 6px #0003;
  background: #0094ff;
  transition: background 0.3s ease-in-out;
}

.range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.range::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.range::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@media (max-width: 875px) {
  .title h2 {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  form {
    width: 100%;
  }
}

.switch {
  position: relative;
  display: block;
  width: 36px;
  height: 20px;
  margin: 0 auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: #ffffff;
  box-shadow: 0 1px 3px #1018281a, 0 1px 2px #1018280f;
  left: 2px;
  bottom: 2px;
  top: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  outline: none;
  background-color: #0094ff;
  border-color: #0094ff;
  box-shadow: 0 0 1px #0094ff;
}

input.Activating:disabled + .slider {
  background-color: #b3dfff !important;
}

input:checked + .table {
  background-color: #0594fa;
  border-color: #0594fa;
  box-shadow: 0 0 1px #0594fa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translate(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.subscribe-to-premium-toggle {
  width: 42px;
  height: 24px;
}

.subscribe-to-premium-toggle input:checked + .slider,
.subscribe-to-premium-toggle input + .slider {
  background-color: #fff;
  border: 1px solid #d9dbdd;
  box-shadow: none;
}

.subscribe-to-premium-toggle .slider:before {
  background-color: #058beb;
  top: 1px;
  width: 20px;
  height: 20px;
}

.primary-input {
  position: relative;
  background-color: var(--color-base-white, #fff);
}

.primary-input input:focus::-webkit-input-placeholder {
  color: var(--color-base-white, #fff);
}

.primary-input input:focus:-ms-input-placeholder {
  color: var(--color-base-white, #fff);
}

.primary-input input:focus::placeholder {
  color: var(--color-base-white, #fff);
}

.primary-input input:focus {
  border-color: var(--color-blue-600, #058beb);
  box-shadow: 0 0 0 2px #e2ebfd;
}

.primary-input input:disabled {
  color: var(--text-text-disabled, #8d939a);
  background: var(--fill-fill-light-grey, #f9fafa);
}

.primary-input .right-option {
  position: absolute;
  top: 0;
  right: 14px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: var(--color-blue-700, #097ed3);
  z-index: 9;
  cursor: pointer;
}

.primary-input input {
  border-radius: 8px;
  border: 1px solid var(--color-gray-300, #d9dbdd);
  background: var(--color-base-white, #fff);
  box-shadow: 0 1px 2px #1018280d;
  width: 100%;
  padding: 7px 42px;
  display: block;
  position: relative;
  z-index: 2;
  background-color: transparent;
  color: var(--color-gray-900, #1f2328);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08px;
}

.primary-input ::-webkit-input-placeholder {
  color: var(--text-text-disabled, #8d939a);
  transition: all ease 0.25s;
}

.primary-input :-ms-input-placeholder {
  color: var(--text-text-disabled, #8d939a);
  transition: all ease 0.25s;
}

.primary-input ::placeholder {
  color: var(--text-text-disabled, #8d939a);
  transition: all ease 0.25s;
}

.without-leftIcon input {
  padding-left: 16px;
}

.without-rightIcon input {
  padding-right: 16px;
}

.with-right-option input {
  padding-right: 75px;
}

.input-with-answer {
  padding-left: 32px;
}

.input-with-answer h2 {
  position: relative;
  padding-right: 25px;
  margin-bottom: 10px;
}

.input-with-answer h2 .icon-left {
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
}

.input-with-answer h2 .icon-left svg {
  display: block;
}

.input-with-answer h2 .icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.input-with-answer h2 .icon-right svg {
  display: block;
}

.input-with-answer h2 .icon-right:hover {
  z-index: 11;
}

.input-with-answer .primary-input input {
  color: var(--grey-900) !important;
}
.step2-container {
  padding-left: 150px;
}

@media screen and (min-width: 1880px) {
  .input-text_input {
    font-size: 26px;
  }
  .input-text.search {
    padding-left: 41px;
  }
  .search-icon {
    left: 11px;
    top: 11px;
    bottom: 11px;
  }
  .search-icon svg {
    width: 30px;
    height: 30px;
  }
  .input-text {
    height: 77px;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 1080px) {
  .centered-image {
    top: unset;
    transform: unset;
    object-fit: cover;
    object-position: top;
  }
  .step2-container {
    height: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .centered-image {
    object-fit: contain;
    object-position: right;
    padding-left: 135px;
  }
  .step2-bg .pageTransition {
    padding-bottom: 0px !important;
  }
}
@media screen and (max-width: 425px) {
  .centered-image {
    padding-left: 85px;
  }
}
picture {
  width: 100%;
  height: auto;
  object-fit: contain;
}
