.header.s-doaXmA4MljNc.s-doaXmA4MljNc {
  text-align: center;
}

.subHeading.s-doaXmA4MljNc.s-doaXmA4MljNc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  color: #2d3239;
  background: #fff;
  padding-bottom: 12px;
  position: relative;
}

.header.s-doaXmA4MljNc h1.s-doaXmA4MljNc {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2d3239;
  margin-bottom: 8px;
}

.header.s-doaXmA4MljNc p.s-doaXmA4MljNc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #565b61;
}

.wrapper.s-doaXmA4MljNc.s-doaXmA4MljNc {
  width: 100%;
  grid-gap: 10px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.content.s-doaXmA4MljNc.s-doaXmA4MljNc {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 85px;
  overflow-y: auto;
}

.content.s-doaXmA4MljNc.s-doaXmA4MljNc {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content.s-doaXmA4MljNc.s-doaXmA4MljNc::-webkit-scrollbar {
  display: none;
}

.header.s-doaXmA4MljNc.s-doaXmA4MljNc {
  position: sticky;
  top: 66px;
  background: #fff;
  width: 100%;
  z-index: 3;
  padding-bottom: 20px;
}

.progress.s-doaXmA4MljNc.s-doaXmA4MljNc {
  position: sticky;
  top: 0;
  background: #fff;
  width: 100%;
  z-index: 3;
  padding-bottom: 30px;
}

.user-interact.s-doaXmA4MljNc.s-doaXmA4MljNc,
.subHeading.s-doaXmA4MljNc.s-doaXmA4MljNc {
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
}

.footer.s-doaXmA4MljNc.s-doaXmA4MljNc {
  position: absolute;
  bottom: 0;
  background: #fff;
  left: -20px;
  right: -20px;
  padding: 20px 0;
}

.button.s-doaXmA4MljNc.s-doaXmA4MljNc {
  height: 45px;
  max-width: 200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.footer.overflow-active.s-doaXmA4MljNc.s-doaXmA4MljNc {
  box-shadow: 0 8px 40px -2px #1018280f;
}

.user-interact.s-doaXmA4MljNc.s-doaXmA4MljNc {
  padding-top: 2.5px;
}

@media screen and (max-width: 1080px) {
  .progress.s-doaXmA4MljNc.s-doaXmA4MljNc {
    padding-bottom: 20px;
  }

  .header.s-doaXmA4MljNc.s-doaXmA4MljNc {
    top: 56px;
  }

  .wrapper.s-doaXmA4MljNc.s-doaXmA4MljNc {
    padding: 15px 0;
  }

  .header.s-doaXmA4MljNc h1.s-doaXmA4MljNc {
    font-size: 20px;
    line-height: 30px;
  }

  .header.s-doaXmA4MljNc p.s-doaXmA4MljNc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.lds-ripple.s-x72LTq4HOEf7.s-x72LTq4HOEf7 {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple.s-x72LTq4HOEf7 div.s-x72LTq4HOEf7 {
  position: absolute;
  border: 4px solid #facc00;
  opacity: 1;
  border-radius: 50%;
  animation: s-x72LTq4HOEf7-lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple.s-x72LTq4HOEf7 div.s-x72LTq4HOEf7:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes s-x72LTq4HOEf7-lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  to {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.map-section.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ebedef;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
}

.map-section__google-map-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  position: relative;
  padding-top: 66.67%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.map-section__google-map.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-section__controls-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 30px 16px 20px;
}

.map-section-form__field.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2d3239;
  margin-bottom: 30px;
}

.map-section-form__field-label.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  display: block;
  margin-bottom: 8px;
}

.map-section-form.s-7J7Aaw1a9Vl0 .legend.s-7J7Aaw1a9Vl0 {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.map-section-form.s-7J7Aaw1a9Vl0 .legend .child.s-7J7Aaw1a9Vl0 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #787e87;
}

.map-section-form.s-7J7Aaw1a9Vl0 .track {
  height: 8px;
  margin: 8px 0;
  width: 100%;
}

.map-section-form.s-7J7Aaw1a9Vl0 .progress {
  background: #0594fa;
}

.handler.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #0594fa;
  border-radius: 20px;
}

.handler.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 10px;
}

.tooltip-wrapper.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  position: relative;
  color: #fff;
}

.default-tip {
  position: relative;
}

.default-tip:after {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  content: "";
  width: 10px;
  height: 10px;
  background-color: #2d3239;
}

.map-section__buttons.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.map-section-buttons__text.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565b61;
}

.map-section-buttons__buttons.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  height: 44px;
}

.buttons.s-7J7Aaw1a9Vl0 button {
  column-gap: 10px;
}

.buttons.back.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  width: 100px;
}

.buttons.next.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
  width: 160px;
}

@media screen and (min-width: 768px) {
  .map-section__google-map-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    position: relative;
    padding-top: 58%;
  }

  .map-section__controls-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    row-gap: 60px;
    padding: 40px 30px 30px;
  }

  .map-section__buttons.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    row-gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .map-section.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    flex-direction: row-reverse;
    max-width: 1080px;
    margin: 0 auto;
  }

  .map-section__google-map-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0,
  .map-section__controls-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    width: 50%;
  }

  .map-section__google-map-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    padding-top: 46.4%;
    border-radius: 0 8px 8px 0;
  }

  .map-section__controls-container.s-7J7Aaw1a9Vl0.s-7J7Aaw1a9Vl0 {
    justify-content: space-between;
  }
}

label.s-O_PA_D1BMAfe.s-O_PA_D1BMAfe {
  display: inline-flex;
  border: 1px solid #edeeef;
  height: 42px;
  padding: 0 25px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  color: #aaa;
  font-size: 14px;
}

label.active.s-O_PA_D1BMAfe.s-O_PA_D1BMAfe {
  border-color: #0094ff;
  color: #0094ff;
}

label.s-O_PA_D1BMAfe input.s-O_PA_D1BMAfe {
  display: none;
}

.overlay-loading.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  position: absolute;
  content: "";
  inset: 0;
  background: #fafafa33;
}

.wrapper.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

h1.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #2d3239;
  margin-bottom: 8px;
}

p.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  color: #565b61;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.flex-input.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  display: flex;
  grid-gap: 10px;
}

.error.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  margin-top: 15px;
  padding: 10px;
  border: 0.9px solid #ea4335;
  border-radius: 5px;
  color: #ea4335;
  font-size: 12px;
  font-weight: 800;
}

.terms-wrapper.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  margin-top: 12px;
}

.terms.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  font-size: 18px;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  grid-gap: 0.5em;
}

.terms.s-e9J8M8v_YErN a.s-e9J8M8v_YErN {
  color: #0094ff;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}

.button.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  height: 73px;
}

:not(.breadbutter-popup-holder) > .breadbutter-ui {
  box-shadow: none !important;
}

.breadbutter-buttons div[name=".*"] {
  background: #fff;
  border: 1px solid #d9dbdd;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
}

.breadbutter-ui .breadbutter-buttons.bb-icon > div:not(.enterprise) .bb-item[data-name] {
  border: unset;
  overflow: hidden;
}

.breadbutter-ui .breadbutter-buttons.bb-icon > div:not(.enterprise) .bb-item[data-name]:hover {
  outline: unset;
  box-shadow: unset;
}

.breadbutter-ui .breadbutter-buttons.bb-icon > div {
  margin-bottom: 0;
  border: 1px solid #d9dbdd;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
  outline: unset;
  overflow: hidden;
}

.breadbutter-ui .breadbutter-buttons.bb-icon > div:not(.enterprise):hover .bb-item[data-name="google"] {
  background: none;
}

.breadbutter-ui .breadbutter-buttons.bb-icon > div:not(.enterprise):hover .bb-item[data-name] {
  outline: unset;
  border: unset;
}

.error.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
  border-radius: var(--roundness-standard, 4px);
  background: var(--error-red-10, #fef6f5);
  color: var(--error-error, #f04738);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
  padding: 8px 12px;
  grid-gap: 8px;
  display: flex;
  width: 100%;
  margin-top: 12px;
}

@media screen and (max-width: 1880px) {
  .button.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
    height: 45px;
  }
  .terms.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
    font-size: 14px;
  }
  .terms.s-e9J8M8v_YErN a.s-e9J8M8v_YErN {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  h1.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
    font-size: 22px;
  }
  .terms.s-e9J8M8v_YErN.s-e9J8M8v_YErN {
    font-size: 12px;
  }
}
