

.popup-content .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px
}

.popup-content .label {
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
    width: 50px;
    display: block;
    padding: 8px 0
}

.popup-content .toggle {
    display: flex;
    align-items: center;
    justify-content: center
}

.popup-content .quick-actions {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end
}

.popup-content .secondary-button {
    background: unset;
    border: unset;
    box-shadow: unset;
    background: #ffffff;
    border: 1px solid #e4e6e7;
    box-shadow: 0 2px 6px #0000000a;
    border-radius: 6px;
    height: 40px;
    padding: 0 14px;
    transition: 75ms;
    cursor: pointer
}

.popup-content .secondary-button:hover,
.popup-content .secondary-button:active {
    border-color: #0094ff;
    color: #0094ff;
    background: #f4f8fb;
    box-shadow: 0 2px 6px #0094ff29
}

input[type=time] {
    box-shadow: unset !important;
    outline: unset !important;
    display: inline-block;
    border: 1px solid #e4e6e7;
    padding: 5px;
    border-radius: 4px;
    text-align: center
}

input[type=time]:focus,
input[type=time]:hover {
    border-color: #0094ff
}

input[type=time]::-webkit-calendar-picker-indicator {
    display: none
}

input[type=time]::-webkit-clear-button {
    display: none
}

input[type=time]::-webkit-inner-spin-button {
    display: none
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    border-radius: 2.5px;
    padding: unset;
    font-size: 10px;
    margin: 0
}

.popup-content .action {
    margin-top: 25px
}

.button {
    height: 48px
}

@media screen and (max-width: 767px) {
    .popup-content .action {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        background: #fff;
        padding: 10px 25px 25px;
        z-index: 8;
        margin: unset
    }

    .popup-content .button {
        height: 50px
    }
}

.popup-content .wrapper {
    display: flex;
    max-width: 550px;
    grid-gap: 10px;
    margin: 0 auto;
    align-items: stretch;
    flex-direction: column;
    font-size: 16px;
    

}

.popup-content form {
    margin: 0;
}

.popup-content .small {
    font-size: 14px;
    margin: unset;
    margin-top: 25px
}

.popup-content .small a {
    color: #0094ff !important;
    text-decoration: underline
}

@media screen and (max-width: 767px) {
    .popup-content .wrapper {
        flex-direction: column
    }
}



.popup-content .input-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .1px;
    color: #030916;
    text-align: left;
    margin-bottom: 14px
}

.popup-content .range-wrapper {
    position: relative;
    margin-bottom: 40px
}

.popup-content .range {
    width: 100%
}

.popup-content .bubble {
    position: absolute;
    bottom: -35px;
    padding: 4px;
    background: #0094ff;
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    min-width: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 18px
}

.popup-content .bubble:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #0094ff;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
    top: -10px
}



.popup-content .descriptions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    color: #767b7f;
    font-size: 12px;
    line-height: 18px
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=range] {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #eff0f0;
        border-radius: 20px
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #0094ff;
        margin-top: -1px
    }

    input[type=range]::-webkit-slider-thumb {
        width: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 16px;
        border-radius: 100%;
        margin-top: -2.5px;
        cursor: ew-resize;
        background: #0094ff
    }
}

input[type=range].svelte-uule0j::-moz-range-progress {
    background-color: #0094ff
}

input[type=range].svelte-uule0j::-moz-range-track {
    background-color: #eff0f0
}

input[type=range].svelte-uule0j::-ms-fill-lower {
    background-color: #0094ff
}

input[type=range].svelte-uule0j::-ms-fill-upper {
    background-color: #eff0f0
}

.input-text.svelte-sr57k1.svelte-sr57k1 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    height: 52px;
    font-size: 18px;
    border: 1px solid #e4e6e7;
    transition: 75ms;
    margin: 0 auto 16px;
    width: 100%
}

.input-text.svelte-sr57k1.svelte-sr57k1:hover {
    border-color: #0094ff
}

.input-text.svelte-sr57k1.svelte-sr57k1:focus-within {
    border-color: #0094ff
}

.input-text_input.svelte-sr57k1.svelte-sr57k1 {
    background: none !important;
    border: none;
    outline: none;
    width: 100%;
    font-size: inherit;
    color: #030916;
    padding: 0 1em;
    vertical-align: middle;
    margin-top: 12.5px;
    caret-color: #0094ff
}

.input-text_label.svelte-sr57k1.svelte-sr57k1 {
    position: absolute;
    left: 17px;
    font-size: 15px;
    color: #000000b3;
    transition: 75ms;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

.input-text.svelte-sr57k1:focus-within .input-text_label.svelte-sr57k1,
.input-text_input.svelte-sr57k1:not(:placeholder-shown)+.input-text_label.svelte-sr57k1 {
    font-size: 10px;
    transform: translateY(-12px)
}

h1.svelte-7y8kq1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: left;
    margin-top: 15px
}

.find-customer.svelte-7y8kq1 {
    display: block;
    max-width: 950px;
    margin-top: -15px
}

.map-container.svelte-7y8kq1 {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 5px 5px
}

.step_question--5 .question-inner {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.step_question--5 .step_question_input {
    max-width: 100% !important
}

.find-customer_input-label.svelte-7y8kq1 {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .1px;
    color: #030916;
    text-align: left;
    margin-bottom: 10px
}

a[aria-label="Open this area in Google Maps (opens a new window)"] {
    display: none !important
}

.search-container.svelte-7y8kq1 {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    padding: 15px
}

.places-item.selected {
    background: #00000022
}

.sub-text.svelte-7y8kq1 {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .1px;
    color: #767b7f;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0
}

.action.svelte-7y8kq1 {
    margin: 0 auto;
    width: 100%;
    max-width: 250px
}

.location-customCSS .step_question_input {
    max-width: 100% !important
}

.question-wrapper.location-customCSS {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.location-customCSS .step_question {
    width: 100% !important;
    margin-top: -40px !important
}

.gmnoprint,
.gm-style-cc {
    display: none
}

.checkout-wrapper.svelte-19vl4cn.svelte-19vl4cn {
    display: flex;
    flex-direction: row-reverse;
    grid-gap: 10px
}

h2.svelte-19vl4cn.svelte-19vl4cn {
    font-size: 16px;
    margin: 1em 0;
    text-align: left
}

section.svelte-19vl4cn.svelte-19vl4cn {
    margin: 0 auto;
    padding: 8px 15px;
    border-radius: 5px;
    min-height: 100px
}

section.summary.svelte-19vl4cn.svelte-19vl4cn {
    background: #f4f8fb
}

.summary.svelte-19vl4cn.svelte-19vl4cn {
    display: flex;
    flex-direction: column
}

.service-block.svelte-19vl4cn.svelte-19vl4cn {
    display: flex;
    border-radius: 5px;
    padding: 5px 15px;
    background: #f4f8fb;
    justify-content: space-between;
    border-bottom: 1px solid #fff
}

.service-block.svelte-19vl4cn.svelte-19vl4cn:last-child {
    background: #e9f7e7;
    padding: 15px
}

.service-block.svelte-19vl4cn .header.svelte-19vl4cn {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center
}

.service-block.svelte-19vl4cn .header .subheadline.svelte-19vl4cn {
    font-size: 12px;
    margin: 0
}

.service-block.svelte-19vl4cn .header h3.svelte-19vl4cn {
    font-size: 12px;
    margin: .25em 0
}

.service-block.svelte-19vl4cn .right button.svelte-19vl4cn {
    background: #f4f8fb;
    border: 1px solid #0094ff;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    padding: 2.5px 8px;
    color: #0094ff;
    cursor: pointer
}

.service-block.svelte-19vl4cn .footer.svelte-19vl4cn {
    display: flex;
    justify-content: space-between;
    grid-gap: 25px;
    align-items: center
}

.service-block.svelte-19vl4cn .footer span.svelte-19vl4cn {
    font-size: 14px;
    font-weight: 600
}

.row.svelte-19vl4cn.svelte-19vl4cn {
    display: flex;
    grid-gap: 15px;
    align-items: baseline
}

.row.svelte-19vl4cn .col.svelte-19vl4cn {
    width: 50%;
    text-align: left
}

.button.svelte-19vl4cn.svelte-19vl4cn {
    height: 48px;
    max-width: 300px;
    margin: 0 auto
}

.stripe-form.svelte-19vl4cn.svelte-19vl4cn {
    width: 100%
}

@media screen and (max-width: 700px) {
    .checkout-wrapper.svelte-19vl4cn.svelte-19vl4cn {
        flex-direction: column;
        width: 100%
    }
}

.wrapper.svelte-1vyara7 {
    max-width: 400px;
    margin: 0 auto
}

.options-wrapper.svelte-1vyara7 {
    height: 300px;
    overflow: hidden
}

.options.svelte-1vyara7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    height: 100%;
    overflow: auto;
    padding-right: 15px
}

.svelte-1vyara7::-webkit-scrollbar {
    width: 5px
}

.svelte-1vyara7::-webkit-scrollbar-track {
    background: #f1f1f1
}

.svelte-1vyara7::-webkit-scrollbar-thumb {
    background: #facc00;
    border-radius: 2px
}

.svelte-1vyara7::-webkit-scrollbar-thumb:hover {
    background: #000
}

.wrapper.svelte-1qnp36t {
    max-width: 350px;
    margin: 0 auto
}

.input-wrapper.svelte-1qnp36t {
    display: flex
}

.button.svelte-1qnp36t {
    max-width: 300px;
    margin: 0 auto
}

.loading.svelte-w5isjl.svelte-w5isjl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px
}

.toolkit.svelte-w5isjl.svelte-w5isjl {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 13px;
    max-width: 625px;
    margin: 1em auto
}

a.svelte-w5isjl.svelte-w5isjl {
    text-decoration: none;
    color: #0094ff;
    font-weight: 600
}

.ad-planner-block.svelte-w5isjl.svelte-w5isjl {
    display: block;
    widows: 100%;
    margin: 0 auto 10px;
    text-align: left;
    max-width: 600px;
    padding: 0 20px;
    border: 1px solid #edeeef;
    border-radius: 15px
}

.ad-planner-block.svelte-w5isjl .--header.svelte-w5isjl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid #edeeef
}

.ad-planner-block.svelte-w5isjl .--header input.svelte-w5isjl {
    display: none
}

.title.svelte-w5isjl.svelte-w5isjl {
    font-size: 20px;
    font-weight: 400
}

.start-price.svelte-w5isjl.svelte-w5isjl {
    font-size: 22px
}

.starting-label.svelte-w5isjl.svelte-w5isjl {
    font-size: 8px;
    text-align: left
}

sup.svelte-w5isjl.svelte-w5isjl {
    font-size: 8px
}

.step_question_input {
    max-width: 100% !important
}

button.svelte-w5isjl.svelte-w5isjl {
    background: unset;
    border: unset
}

.--right.svelte-w5isjl.svelte-w5isjl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px
}

.--expand.svelte-w5isjl.svelte-w5isjl {
    display: block;
    width: 95%;
    padding: 15px;
    font-size: 15px;
    margin: 0 auto
}

.--expand.svelte-w5isjl label.svelte-w5isjl,
.--expand.svelte-w5isjl div.svelte-w5isjl {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 5px;
    cursor: pointer;
    border-bottom: 1px solid #edeeef
}

.--expand.svelte-w5isjl label.svelte-w5isjl:has(input[type=radio]:checked) {
    background-color: #f4f8fb
}

.--expand.svelte-w5isjl div.svelte-w5isjl:last-child,
.--expand.svelte-w5isjl label.svelte-w5isjl:last-child {
    border: none
}

.--expand.svelte-w5isjl span.svelte-w5isjl {
    display: block;
    width: 100px
}

.--expand.svelte-w5isjl div.svelte-w5isjl:first-child {
    font-weight: 600
}

.--expand.svelte-w5isjl span.svelte-w5isjl:first-child {
    width: 25px
}

.--expand.svelte-w5isjl span.svelte-w5isjl:last-child {
    width: 90px
}

.disclaimer.svelte-w5isjl.svelte-w5isjl {
    background: #f4f8fb;
    font-size: 13px;
    padding: 15px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
    opacity: .6
}

.action.svelte-w5isjl.svelte-w5isjl {
    height: 45px;
    margin: 25px auto 0;
    max-width: 300px
}

.total.svelte-w5isjl.svelte-w5isjl {
    display: block;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
    max-width: 600px;
    margin: 0 auto 15px
}

.ad-planner-block.--active.svelte-w5isjl.svelte-w5isjl {
    border-color: #0094ff
}

.ad-planner-block.svelte-w5isjl button.svelte-w5isjl {
    pointer-events: none
}

.ad-planner-block.--active.svelte-w5isjl svg.svelte-w5isjl {
    transform: rotate(180deg)
}

.fullscreen-view.svelte-8nyx9p.svelte-8nyx9p {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #fff
}

.loading.svelte-8nyx9p.svelte-8nyx9p {
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: center
}

.fullscreen-view.svelte-8nyx9p iframe.svelte-8nyx9p {
    width: 100%;
    height: 100%
}

.fullscreen-view.svelte-8nyx9p .toolbar.svelte-8nyx9p {
    background: #f74d4f;
    border-bottom: 1px solid #f74d4f;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.fullscreen-view.svelte-8nyx9p .toolbar button.svelte-8nyx9p {
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer
}

.wrapper.svelte-8nyx9p.svelte-8nyx9p {
    display: flex;
    justify-content: center;
    padding: 0 25px;
    height: 345px;
    align-items: center
}

.services.svelte-8nyx9p.svelte-8nyx9p {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    padding: 0 30px;
    margin-bottom: 15px
}

.ads-label.svelte-8nyx9p.svelte-8nyx9p {
    font-size: 12px;
    text-align: right;
    color: #0094ff;
    padding-right: 30px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    grid-gap: 5px
}

.ads.svelte-8nyx9p.svelte-8nyx9p {
    display: block;
    overflow-y: auto;
    height: 325px;
    padding-right: 25px
}

.landing-block.svelte-8nyx9p.svelte-8nyx9p {
    display: flex;
    width: 500px;
    height: 355px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px #edeeef solid
}

.landing-block.svelte-8nyx9p iframe.svelte-8nyx9p {
    z-index: 1;
    pointer-events: none;
    transform: scale(.25);
    width: 2000px;
    height: 1700px;
    position: absolute;
    top: -665px;
    left: -750px
}

.landing-block.svelte-8nyx9p .blur.svelte-8nyx9p {
    opacity: 0;
    border-radius: 5px;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000004d;
    transition: 1s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.landing-block.svelte-8nyx9p:hover .blur.svelte-8nyx9p {
    opacity: 1
}

.ads-track.svelte-8nyx9p.svelte-8nyx9p {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    grid-gap: 15px
}

.ad-block.svelte-8nyx9p.svelte-8nyx9p {
    border: 1px solid #0094ff;
    box-shadow: 0 3px 4px #0094ff0a;
    border-radius: 8px;
    width: 240px;
    text-align: left;
    padding: 16px 12px
}

.headline.svelte-8nyx9p.svelte-8nyx9p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1967d2;
    margin-bottom: 4px
}

.description.svelte-8nyx9p.svelte-8nyx9p {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #030916;
    margin-top: 12px
}

.url.svelte-8nyx9p.svelte-8nyx9p {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #062;
    display: block;
    align-items: center;
    grid-gap: 7px;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px
}

.button.svelte-8nyx9p.svelte-8nyx9p {
    height: 48px;
    width: 300px;
    margin: 1em auto
}

.siteLink.svelte-8nyx9p.svelte-8nyx9p {
    font-size: 12px;
    margin-top: 8px;
    color: #0094ff
}

.skeleton.svelte-8nyx9p.svelte-8nyx9p {
    animation: svelte-8nyx9p-skeleton-loading 1s linear infinite alternate
}

@keyframes svelte-8nyx9p-skeleton-loading {
    0% {
        background-color: #c2cfd6
    }

    to {
        background-color: #f0f3f5
    }
}

.skeleton-text.svelte-8nyx9p.svelte-8nyx9p {
    width: 100%;
    height: .7rem;
    margin-bottom: .5rem;
    border-radius: .25rem
}

.wrapper.svelte-10tx96u {
    max-width: 400px;
    margin: 0 auto
}

.options.svelte-10tx96u {
    display: flex;
    flex-direction: column;
    grid-gap: 15px
}

.svelte-10tx96u::-webkit-scrollbar {
    width: 5px
}

.svelte-10tx96u::-webkit-scrollbar-track {
    background: #f1f1f1
}

.svelte-10tx96u::-webkit-scrollbar-thumb {
    background: #facc00;
    border-radius: 2px
}

.svelte-10tx96u::-webkit-scrollbar-thumb:hover {
    background: #000
}

.wrapper.svelte-u71noq.svelte-u71noq {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px
}

h2.svelte-u71noq.svelte-u71noq {
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 8px
}

.selected-service-block.svelte-u71noq span.svelte-u71noq {
    padding: 0 15px
}

.services-flex.svelte-u71noq.svelte-u71noq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.tab-content.svelte-u71noq.svelte-u71noq {
    display: block;
    overflow: hidden;
    position: relative;
    height: 300px;
    padding-bottom: 25px;
    margin: 0 auto;
    width: 100%;
    min-width: 285px
}

.selected-service-block.svelte-u71noq.svelte-u71noq {
    display: flex !important;
    border-radius: 5px;
    padding: 10px 0;
    background: #f4f8fb;
    font-size: 14px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.selected-service-block.svelte-u71noq.svelte-u71noq:nth-child(2n) {
    background: #fbfcfd
}

.tab-content.svelte-u71noq.svelte-u71noq:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    right: 0;
    left: 0;
    height: 25px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)
}

.tab-content-track.svelte-u71noq.svelte-u71noq {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    height: 100%;
    scroll-snap-type: x mandatory;
    padding: 20px 5px 20px 8px;
    overflow-y: auto
}

.tab-content-track-item.svelte-u71noq.svelte-u71noq {
    display: block;
    width: 100%
}

.svelte-u71noq.svelte-u71noq::-webkit-scrollbar {
    width: 5px
}

.svelte-u71noq.svelte-u71noq::-webkit-scrollbar-track {
    background: #f1f1f1
}

.svelte-u71noq.svelte-u71noq::-webkit-scrollbar-thumb {
    background: #facc00;
    border-radius: 2px
}

.svelte-u71noq.svelte-u71noq::-webkit-scrollbar-thumb:hover {
    background: #000
}

.tab-content.svelte-u71noq .item-wrapper.svelte-u71noq {
    width: auto;
    display: block;
    border: 1px solid #e4e6e7;
    box-shadow: 0 2px 6px #0000000a;
    border-radius: 6px;
    padding: 15px;
    text-align: left;
    grid-gap: 10px;
    display: flex;
    height: min-content;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    position: relative
}

.tab-content.svelte-u71noq .item-wrapper.checked.svelte-u71noq {
    border: 1px solid #0094ff;
    box-shadow: 0 2px 6px #0094ff29;
    background-color: #f4f8fb
}

.custom-checkbox.svelte-u71noq.svelte-u71noq {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.custom-checkbox.svelte-u71noq+span.svelte-u71noq {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none
}

.custom-checkbox.svelte-u71noq+span.svelte-u71noq:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #f9f9fa;
    border: 1px solid #e0e1e3;
    border-radius: .25em;
    margin-right: .5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%
}

.custom-checkbox.svelte-u71noq:checked+span.svelte-u71noq:before {
    border-color: #0094ff;
    background-color: #e0f2ff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%230065F9' d='M9 1.25L3.5 6.75L1 4.25' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
}

span.svelte-u71noq.svelte-u71noq {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .01em;
    color: #030916
}

@media screen and (max-width: 900px) {
    .services-flex.svelte-u71noq.svelte-u71noq {
        grid-template-columns: 1fr;
        grid-gap: 25px
    }
}

@media screen and (max-width: 767px) {
    .tab-content.svelte-u71noq.svelte-u71noq {
        height: 300px
    }
}

.wrapper.svelte-l7hzry {
    max-width: 400px;
    margin: 0 auto
}

.options.svelte-l7hzry {
    display: flex;
    flex-direction: column;
    grid-gap: 15px
}

.service_item.service_item--active {
    border: 1px solid #0094ff;
    box-shadow: 0 2px 6px #0094ff29;
    background-color: #f4f8fb;
    color: #030916
}

.wrapper.svelte-1l7fflc {
    max-width: 500px;
    margin: 0 auto
}

.svelte-1l7fflc::-webkit-scrollbar {
    width: 5px
}

.svelte-1l7fflc::-webkit-scrollbar-track {
    background: #f1f1f1
}

.svelte-1l7fflc::-webkit-scrollbar-thumb {
    background: #facc00;
    border-radius: 2px
}

.svelte-1l7fflc::-webkit-scrollbar-thumb:hover {
    background: #000
}

.header.svelte-1ofexg7.svelte-1ofexg7 {
    text-align: center
}

.subHeading.svelte-1ofexg7.svelte-1ofexg7 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #2d3239;
    background: #fff;
    padding-bottom: 12px;
    position: relative
}

.header.svelte-1ofexg7 h1.svelte-1ofexg7 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2d3239;
    margin-bottom: 8px
}

.header.svelte-1ofexg7 p.svelte-1ofexg7 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565b61
}

.wrapper.svelte-1ofexg7.svelte-1ofexg7 {
    width: 100%;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative
}

.content.svelte-1ofexg7.svelte-1ofexg7 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 85px;
    overflow-y: auto
}

.content.svelte-1ofexg7.svelte-1ofexg7 {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.content.svelte-1ofexg7.svelte-1ofexg7::-webkit-scrollbar {
    display: none
}

.header.svelte-1ofexg7.svelte-1ofexg7 {
    position: sticky;
    top: 66px;
    background: #fff;
    width: 100%;
    z-index: 3;
    padding-bottom: 20px
}

.progress.svelte-1ofexg7.svelte-1ofexg7 {
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 3;
    padding-bottom: 30px
}

.popup-content > .user-interact,
.popup-content >  .subHeading {
    margin: 0 auto;
    width: 100%;
    max-width: 560px
}

.popup-content > .footer {
    position: absolute;
    bottom: 0;
    background: #fff;
    left: -20px;
    right: -20px;
    padding: 20px 0
}

.popup-content > .button {
    height: 45px;
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box
}

.popup-content > .footer.overflow-active {
    box-shadow: 0 8px 40px -2px #1018280f
}

.user-interact.svelte-1ofexg7.svelte-1ofexg7 {
    padding-top: 2.5px
}

@media screen and (max-width: 767px) {
    .progress.svelte-1ofexg7.svelte-1ofexg7 {
        padding-bottom: 20px
    }

    .header.svelte-1ofexg7.svelte-1ofexg7 {
        top: 56px
    }

    .wrapper.svelte-1ofexg7.svelte-1ofexg7 {
        padding: 15px 0
    }

    .header.svelte-1ofexg7 h1.svelte-1ofexg7 {
        font-size: 20px;
        line-height: 30px
    }

    .header.svelte-1ofexg7 p.svelte-1ofexg7 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px
    }
}

.lds-ripple.svelte-1gibswa.svelte-1gibswa {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px
}

.lds-ripple.svelte-1gibswa div.svelte-1gibswa {
    position: absolute;
    border: 4px solid #facc00;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, .2, .8, 1) infinite
}

.lds-ripple.svelte-1gibswa div.svelte-1gibswa:nth-child(2) {
    animation-delay: -.5s
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1
    }

    to {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0
    }
}

.map-section {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #ebedef;
    box-shadow: 0 1px 2px #1018280d;
    border-radius: 8px
}

.map-section__google-map-container {
    position: relative;
    padding-top: 66.67%;
    border-radius: 8px 8px 0 0;
    overflow: hidden
}

.map-section__google-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.map-section__controls-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 30px 16px 20px
}

.map-section-form__field {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2d3239;
    margin-bottom: 30px
}

.map-section-form__field-label {
    display: block;
    margin-bottom: 8px
}

.map-section-form.svelte-14af1z7 .legend.svelte-14af1z7 {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between
}

.map-section-form.svelte-14af1z7 .legend .child.svelte-14af1z7 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #787e87
}

.map-section-form.svelte-14af1z7 .track {
    height: 8px;
    margin: 8px 0;
    width: 100%
}

.map-section-form.svelte-14af1z7 .progress {
    background: #0594fa
}

.handler {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #0594fa;
    border-radius: 20px
}

.handler:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 10px
}

.tooltip-wrapper {
    position: relative;
    color: #fff
}

.default-tip {
    position: relative
}

.default-tip:after {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    content: "";
    width: 10px;
    height: 10px;
    background-color: #2d3239
}

.map-section__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 40px
}

.map-section-buttons__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #565b61
}

.map-section-buttons__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.buttons {
    height: 44px
}

.buttons.svelte-14af1z7 button {
    column-gap: 10px
}

.buttons.back {
    width: 100px
}

.buttons.next {
    width: 160px
}

@media screen and (min-width: 768px) {
    .map-section__google-map-container {
        position: relative;
        padding-top: 58%
    }

    .map-section__controls-container {
        row-gap: 60px;
        padding: 40px 30px 30px
    }

    .map-section__buttons {
        row-gap: 30px
    }
}

@media screen and (min-width: 1024px) {
    .map-section {
        flex-direction: row-reverse;
        max-width: 1080px;
        margin: 0 auto
    }

    .map-section__google-map-container,
    .map-section__controls-container {
        width: 50%
    }

    .map-section__google-map-container {
        padding-top: 46.4%;
        border-radius: 0 8px 8px 0
    }

    .map-section__controls-container {
        justify-content: space-between
    }
}

.popup-content > label {
    display: inline-flex;
    border: 1px solid #edeeef;
    height: 42px;
    padding: 0 25px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: #aaa;
    font-size: 14px
}

.popup-content > label.active {
    border-color: #0094ff;
    color: #0094ff
}


.overlay-loading {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250, 250, 250, .2)
}

.popup-content .wrapper {
    margin: 0 auto;
    width: 100%;
    position: relative
}

.popup-content h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #2d3239;
    margin-bottom: 8px
}

.popup-content p {
    color: #565b61;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0;
}

.popup-content .flex-input {
    display: flex;
    grid-gap: 10px
}

.popup-content .error {
    margin-top: 15px;
    padding: 10px;
    border: .9px solid #ea4335;
    border-radius: 5px;
    color: #ea4335;
    font-size: 12px;
    font-weight: 800
}

.popup-content .terms-wrapper {
    margin-top: 12px
}

.popup-content .terms {
    font-size: 14px;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    grid-gap: .5em
}

.popup-content .terms a {
    color: #0094ff;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px
}

.popup-content .button {
    height: 45px
}

:not(.breadbutter-popup-holder)>.breadbutter-ui {
    box-shadow: none !important
}

.breadbutter-buttons div[name=".*"] {
    background: #ffffff;
    border: 1px solid #d9dbdd;
    box-shadow: 0 1px 2px #1018280d;
    border-radius: 8px
}

.breadbutter-ui .breadbutter-buttons.bb-icon>div:not(.enterprise) .bb-item[data-name] {
    border: unset;
    overflow: hidden
}

.breadbutter-ui .breadbutter-buttons.bb-icon>div:not(.enterprise) .bb-item[data-name]:hover {
    outline: unset;
    box-shadow: unset
}

.breadbutter-ui .breadbutter-buttons.bb-icon>div {
    margin-bottom: 0;
    border: 1px solid #d9dbdd;
    box-shadow: 0 1px 2px #1018280d;
    border-radius: 8px;
    outline: unset;
    overflow: hidden
}

.breadbutter-ui .breadbutter-buttons.bb-icon>div:not(.enterprise):hover .bb-item[data-name=google] {
    background: none
}

.breadbutter-ui .breadbutter-buttons.bb-icon>div:not(.enterprise):hover .bb-item[data-name] {
    outline: unset;
    border: unset
}

.popup-content .error {
    border-radius: var(--roundness-standard, 4px);
    background: var(--error-red-10, #fef6f5);
    color: var(--error-error, #f04738);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -.14px;
    padding: 8px 12px;
    grid-gap: 8px;
    display: flex;
    width: 100%;
    margin-top: 12px
}